@{
    ViewData["Title"] = "Film Form";
}

@model MovieResponse

<div class="text-center">

    <p>Thanks for submitting the movie!</p><br />

    <a asp-controller="Home" asp-action="Index">Return Home</a><br /><br />
</div>