@{
    ViewData["Title"] = "Joel Hilton's Film Collection";
}

<div class="text-center">
    <h1 class="display-4">THe Joel Hilton Film Collection</h1>
    <img src="img/JoelHiltonHeadshot.jpg" style="max-width:50%"/><br /><br />
    <p>This is Joel Hilton's film collection, which is probably pretty clear at this point</p>
</div>
